* {
  box-sizing: border-box;
}

body {
  margin: 5vh 5vw;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.between {
  justify-content: space-between;
}

.App {
  text-align: center;
}

.form {
  width: 250px;
  display: flex;
  flex-direction: column;

}

.numbers {
  font-family: roboto;
  color: grey;
}


.MuiSlider-rail {
  color: lightgrey;
}

.MuiSlider-track, .MuiSlider-thumb {
  color: #007B83;
}


input[type="number"] {
  border: none;
  font-size: 16px;

}

input[type="number"]:focus {
  outline: none;
  color: purple;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}