* {
  box-sizing: border-box;
}

body {
  font-family: roboto;

}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.text {
  text-align: center;
}

.between {
  justify-content: space-between;
}

.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}


h4, h5 {
  color:grey;
}

.numbers {
  color: grey;
}


.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFF1F5;
  border-radius: 15px;
  
}

.form h1, h2, input {
  color:#090A5C;
}

.form input {
  border: none;
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.form input:focus {
  outline: none;
}

.form ::placeholder {
  color: #090A5C;
}

.formAmount h5, .formMonths h5, .formBottom h5, .formBottom h2 {
text-align: start;
margin: 0 0 5px 0;
}

.form button {
  width: 300px;
  margin-top: 5px;
}


.formMonths, .formAmount, .formHeader {
  background-color: white;
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.formBottom {
  background-color: white;
  width: inherit;
  padding: 30px;
}

.formHeader {
  margin: 0;
}

.message h4 {
  color: #E4252D;
}

.noMessage {
  visibility: hidden;
}

.MuiSlider-rail {
  color: lightgrey;
}

.MuiSlider-track, .MuiSlider-thumb {
  color: #017E86;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}